@import url('https://fonts.googleapis.com/css?family=Inter');

body {
    padding: 0;
    margin: 0;
}

a, ul, li, p, ul {
    text-decoration: none;
    color: #000;

    font-family: Inter;
}

ul, li {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

#material_icon {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
}

/* Header */

.header a, ul, li, li a, p {
    text-decoration: none;
    color: #fff;

    font-family: Inter;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vh;

    background: #202057;
}

/* Header navbar */

#actual_page {
    color: #fff
}

.nav_header ul li a {
    color: #ffffff90;
}
.nav_header ul li a:hover {
    color: #fff;
}

.nav_header {
    display: flex;
    flex-direction: row;
    gap: 4vh;
}

/* Header user */

.header_user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1vh;
}

.user_text {
    display: flex;
    flex-direction: column;
}

/* Main */

main p {
    color: #000
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vh
}

.main_branch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vh
}

.second_branch {
    justify-content: center;
    width: 50vh;
}

#branch {
    font-weight: 600;
    color: linear-gradient(90deg, #01348D 0%, #0187CE 100%);
}